@import "./variables.scss";

.finish-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .congrats {
    font-size: $title_font_size;
    font-weight: 700;
  }
  .time {
    font-size: 30px;
    margin: 10px 0;
  }
  .save-container {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid black;
      flex: 1;
      margin-right: 5px;
      font-size: 17px;
    }
    button {
      padding: 2px 8px;
      background-color: $mint;
    }
  }
  > button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
  }
  .retryBtn {
    background-color: $mint;
  }
  .retryBtn,
  .homeBtn {
    a {
      padding: 8px;
      color: black;
    }
  }
}

button {
  cursor: pointer;
  font-size: 15px;
  font-family: $font;
  border-radius: 3px;
  padding: 5px 7px;
}
